<h1>All post</h1>
<% @post.each do |post|  %>
<div class="col-md-3 post">
	<div class="well mtb20 ">
	    <h3><%= link_to post.title, post%></h3>
	    <%= image_tag post.image_url  %>
	    <p  class="btn btn-outline btn-info btn-xs "><%= post.created_at.strftime("%B, %d, %Y")%></p>
	</div>
	</div>
<% end %>