.pull-right{
	float:right;
}
.header{
	  background-color: #ddd;
  overflow: hidden;
  padding: 0 15px;
}
.side_bar{
	background-color: #ddd;
	  padding: 15px;
}
.column, .columns{
	  margin-left: 0 !important;
}
.post_wrapper{
	  padding: 15px;
}